<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:action="@{/admin}" th:method="patch" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="*{getId()}">
    <br>
    <label for="name">Edit name:</label>
    <input type="text" th:field="*{firstName}" th:value="*{getFirstName()}" id="name"/>
    <br/>
    <label for="lastName">Edit Lastname:</label>
    <input type="text" th:field="*{lastName}" th:value="*{getLastName()}" id="lastName"/>
    <br/>
    <label for="email">Edit email:</label>
    <input type="text" th:field="*{username}" th:value="*{getUsername()}" id="email"/>
    <br/>
    <label for="password">Edit password:</label>
    <input type="text" th:field="${user.password}" th:value="*{getPassword()}" id="password"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <br/>
    <label>Edit role:
        <select size="2" multiple name="roles">
            <option selected="selected" value="1">USER</option>
            <option value="2">ADMIN</option>
        </select>
    </label>
    <br>
    <input type="submit" value="Edit!">
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>